<div class="form mt-4">
  <%= form_tag message_path, remote: true do %>
    <%= text_field_tag "message","", class: "", style:"width:94%" %>
    <%= hidden_field_tag "sender_id", current_user.id %>
    <%= hidden_field_tag "recipient_id",  3%>
    <%= button_tag "Send" %>
  <% end %>
</div>